.side-bar {
  @include mq(lg) {
    width: calc((70% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

.main {
  max-width: 80rem;
  @include mq(lg) {
    margin-left: calc((70% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

.site-nav, .site-header, .site-footer {
  @include mq(lg) {
    width: 100%;
  }
}

.nav-list {
  list-style: none;
}