.side-bar {
  @include mq(lg) {
    width: calc((70% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

#site-nav {
  @include mq(md) {
    padding-top: 0;
  }

  ul.nav-list:first-child {
    margin-top: 2em;
  }
}

.main {
  max-width: 80rem;
  @include mq(lg) {
    margin-left: calc((70% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

.site-nav, .site-header, .site-footer {
  @include mq(lg) {
    width: 100%;
  }
}

.nav-list ul {
  list-style: none;
}

a {
  color: #00a;
}